{% extends 'base.html' %}

{% load static %}

{% block title %}
Главная страница
{% endblock %}


{% block content %}

{% include 'includes/inc_marketing.html' %}

<div class="container">

    <a href="{% url 'main_app:categories' %}">
        <div class="slider row mt-4">
            <div class="slider-text col mt-4">
                <h1 class="font-weight-bold">INTERIOR</h1>
                <h2 class="text-center font-italic">Мебель для </h2>
                <h2 class="text-center font-italic">комфортной жизни</h2>
            </div>
        </div>
    </a>

    <div class="offer row mt-4 py-1">
        <h2 class="col pt-2">Специальные предложения</h2>
        <h1><a class="btn btn-outline-primary mr-4" href="{% url 'main_app:category_products' 0 %}">
            Смотреть все</a></h1>
    </div>

    <div class="row hot-offers my-4">

        {% for product in objects %}
        <div class="col-4 d-flex justify-content-center">
            <a href="{% url 'main_app:product' product.pk %}">
                <img class="product-img"
                     src="{% get_media_prefix %}{{ product.images_set.first.upload }}"
                     alt="{{ product.name }}"
                >
                <div class="text">
                    <div class="my-auto">
                        <h4>{{ product.name|title }}</h4>
                        <img class="my-2" src="{% static 'img/icon-hover.png' %}" alt="img">
                        <p class="mx-4">{{ product.short_desc }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>

</div>


{% endblock %}