{% load static %}

<hr>

<div class="container review">
    <div class="row">
        <h3 class="pl-3">Оставить отзыв о товаре:</h3>
    </div>

    <form action="{% url 'main_app:add_review' object.pk %}" method="post" id="formReview">
        {% csrf_token %}
        <input type="hidden" name="parent" id="parentComment" value="">
        <input type="hidden" name="user" value="{{ user.id }}">
        {{ form.text }}
        <input type="submit" class="form-control btn btn-success mt-4" value="Отправить">
    </form>
</div>

<hr>

<div class="container review mb-4">
    <div class="row">
        <h3 class="pl-3">Читать отзывы:</h3>
    </div>

    {% for review in object.get_parent_reviews %}
    <hr>
    <div class="row">
        <div class="col-2 avatar">
            <img src="{% get_media_prefix %}{{ review.user.shopuserprofile.avatar }}"
                 alt="{{ review.user.username }}"
            >
        </div>
        <div class="col-8">
            <h5>{{ review.user.username }}</h5>
            <p>{{ review.text }}</p>
            <a href="#formReview" onclick="addReview('{{ review.user.username }}', {{ review.id }})">
                Ответить
            </a>
        </div>
    </div>

    {% for rev in review.reviews_set.all %}
    <div class="row ml-5 mt-3">
        <div class="col-2 avatar">
            <img src="{% get_media_prefix %}{{ rev.user.shopuserprofile.avatar }}" alt="{{ rev.user.username }}">
        </div>
        <div class="col-8">
            <h5>{{ rev.user.username }}</h5>
            <p>{{ rev.text }}</p>
        </div>
    </div>
    {% endfor %}

    {% empty %}
    <div class="row justify-content-center my-5">
        <h5>Ваш отзыв может быть первым</h5>
    </div>

    {% endfor %}

</div>
<script>
    function addReview(name, id) {
        document.getElementById('parentComment').value = id;
        document.getElementById('comment').innerText = `${name}, `;
    }
</script>
